{% extends 'base.html' %}

{% block title %}
{{ event.title }} | MonoBank
{% endblock %}

{% block content %}

<div class="container py-5">

    <a href="{% url 'event_list' %}"
       class="btn btn-outline-primary mb-4">
        ← До подій
    </a>

    <article>

        <h1>
            {{ event.title }}
        </h1>

        <p class="text-muted">
            Дата:
            {{ event.date|date:"d.m.Y H:i" }}
        </p>

        {% if event.location %}

            <p class="text-muted">
                Місце:
                {{ event.location }}
            </p>

        {% endif %}

        <hr>

        <p>
            {{ event.description }}
        </p>

    </article>

</div>

{% endblock %}